---
http_interactions:
- request:
    method: post
    uri: https://api.bridgeapi.io/v3/aggregation/authorization/token?email=john.doe@email.com&password=password123
    body:
      encoding: US-ASCII
      string: email=john.doe%40email.com&password=password123
    headers:
      Bridge-Version:
      - '2025-01-15'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token_123","expires_at":"2025-11-20T14:36:17.000Z","user":{"uuid":"test-user-uuid"}}'
  recorded_at: Thu, 20 Nov 2025 13:36:17 GMT
recorded_with: VCR 6.0.0
